.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Kitchen\ Tiled\ Wall\ \(Small\).png');
    background-size: cover;
    z-index: 1;
}

.spoon{
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%) ;
    z-index: 2;
}

.pot{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%) scale(1.3);
    z-index: 2;
}

.knorr{
    position: absolute;
    top: 25%;
    left: 52%;
    transform: translate(-50%, -50%) scale(.65);
    z-index: 2;
}

.pepper{
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-50%, -50%) scale(.7) rotate(-13deg);
    z-index: 2;
}

.salt{
    position: absolute;
    top: 25%;
    left: 61%;
    transform: translate(-50%, -50%) scale(.7) rotate(13deg);
    z-index: 2;
}

.continue-button {
    position: absolute;
    top: 30%;
    left: 90%;
    background-image: url('../images/Continue\ Right\ Button.png');
    background-size: contain; 
    width: 100px;
    height: 100px; 
    cursor: pointer; 
    z-index: 3;
    border: none;
    background-color: transparent;
}

.previous-button {
    position: absolute;
    top: 30%;
    left: 3%;
    background-image: url('../images/Previous\ Left\ Button.png');
    background-size: contain; 
    width: 100px;
    height: 100px; 
    cursor: pointer; 
    z-index: 3;
    border: none;
    background-color: transparent;
}

.yellow-box-one{
    position: absolute;
    top: 83%;
    left: 86%;
    transform: translate(-50%, -50%) scale(.7);
    z-index: 2;
}

.yellow-box-two{
    position: absolute;
    top: 83%;
    left: 16.5%;
    transform: translate(-50%, -50%) scale(1.05);
    z-index: 2;
}

.description-one {
    position: absolute;
    font-family: 'Architects Daughter';
    top: 79%;
    left: 16%; 
    transform: translate(-50%, -50%);
    z-index: 99;
    color: black;
    font-size: 25px;
    text-align: center;
}

.description-two {
    position: absolute;
    font-family: 'Architects Daughter';
    top: 79%;
    left: 86%; 
    transform: translate(-50%, -50%);
    z-index: 99;
    color: black;
    font-size: 25px;
    text-align: center;
}